<head>
    <title> Blueberry Presentations </title>
</head>

<body>
    <div class="container text-center">
        <header>
            <h1> Blueberry </h1>
        </header>
        <br><br>
        {{> signIn}}
    </div>
</body>

<template name="signIn">
    <button type="button" class="btn btn-primary presenter-in">
        Sign In As Presenter
    </button>
    <br><br>
    <button type="button" class="btn btn-primary audience-in">
        Sign In As Audience Member
    </button>
</template>
